@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

html,
body {
  background-color: #11324D;
}
.parent {
    padding-top: 150px;
}
.broom img {
    width: 250px;
}
.tag {
    color: #B97A95;
}
.tag h1 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tag p {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}