@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

html,
body {
  background-color: #11324D;
  margin: 0px;
}
.container {
    width: 100%;
    height: 600px;
    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}
.gif {
    padding-left: 0px;
}
.tag h1 {
    color: #B97A95;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}