@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

html,
body {
  background-color: #11324D;
}
.parent {
    padding-top: 150px;
}
.broom img {
    width: 250px;
}
.tag {
    color: #B97A95;
}
.tag h1 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.tag p {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.nav ul {
    border-style: dashed;
    color: antiquewhite;
}
.nav ul a {
    text-decoration: none;
    color: beige;
    padding-right: 40px;
    font-size: 30px;
    font-weight: bold;
}
